/* Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

:root{
  /* colors */
  --bg-accent: #F7DF94;
  --bg-dark:#333333;
  --txt-light:#4F4F4F;
  --txt-dark:#0000;
  --txt-very-light:#828282;

}

*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Raleway', sans-serif;
}

a{
  text-decoration: none;
  display: inline-flex;
}

.row-container{
  background-color: #fff;
 display: flex;
 padding: 1em 2em;
 align-items: center;
 gap:1em;
 color:#4F4F4F;


}

.row-container p{
  font-size: 1em;
}


.col-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap:2em;
  width: 100%;
  font-size: .7rem;
  
  
  }

.left-align{
  margin-left: auto;
}


.nav-group{
  display: flex;
  gap:.3em;
}


.quote-container{
 
  width: 20em;
  /* height: fit-content; */
  text-align: left;
  padding:1em 2em;
  font-size: 1.3em;
  border-left: 10px solid var(--bg-accent);
  line-height: 1.7em;
  background-color: rgba(255, 230, 130, 0.18);
}

.author-box  {

  text-align: right;
  padding-right: 2em;
  
}

.author-box h3{
  font-size: 1em;
}


.btn-container{

  width: 25em;
  height: 5em;
}

.btn-container:hover{
  background-color: var(--bg-dark);
  color:#fff;
  
}

.btn-group p{
  margin-top: .5em;
}

.svg-light  {
  fill: #fff;

}

.row-wrap-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  margin:3rem 1rem;
  align-items: stretch;
  font-size: .8rem;

}
.row-wrap-container > *{
  flex-basis: 33%;
  flex-grow: 1;

}

@media only screen and (min-width: 550px ){
  .col-container, .row-wrap-container{
    font-size: 1rem;
  }
}